@import '../../colors.scss';

.Results {
  .message {
    text-align: center;

    h2 {
      margin-bottom: .5rem;
    }

    p {
      margin-top: .5rem;
      color: $pale-blue;
    }
  }

  .buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1rem;

    button {
      width: 100%;

      &:first-child {
        margin: 1rem 0;
      }
    }
  }

  .cardsWrapper {
    :not(:first-child) {
      margin-top: .5rem;
    }
  }
}
