$primary-black: #152938;
$primary-blue: #304859;
$primary-teal: #BCCED9;
$primary-orange: #FDA214;
$primary-white: #FCFCFC;

$bright-orange: #FFB84A;
$light-blue: #6395B8;
$pale-blue: #7191A5;
$off-white: #F2F2F2;
$gray: #DFE7EC;