@import '../../colors.scss';
@import '../../breakpoints.scss';

.Button {
  cursor: pointer;
  border-radius: 26px;
  border-color: transparent;

  font-style: normal;
  text-align: center;
  font-weight: 600;

  padding: 10px 40px;

  @include mobile {
    padding: 10px 20px;
  }


  /** themes **/
  &.menu {
    background: $pale-blue;
    color: $primary-white;

    &:hover {
      background: $light-blue;
    }

    &.active {
      background: $primary-blue;
    }
  }

  &.primary {
    background: $primary-orange;
    color: $primary-white;

    &:hover {
      background: $bright-orange;
    }
  }

  &.secondary {
    background: $gray;
    color: $primary-blue;

    &:hover {
      background: $light-blue;
      color: $primary-white;
    }
  }
  /** ./themes */

  /** sizes */
  &.small {
    font-size: 1rem;
  }

  &.medium {
    font-size: 1.625rem;
  }

  &.large {
    padding: 14px 185px;
    font-size: 32px;
  }
  /** ./sizes */
}
