@import '../../colors.scss';
@import '../../breakpoints.scss';

.Modal {
  display: none;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 1;
  background: rgba(0, 0, 0, 0.5);

  &.isOpen {
    display: flex;
  }

  .content {
    min-width: 650px;

    border-radius: 20px;
    background-color: $off-white;

    padding: 55px;

    @include mobile {
      width: calc(100% - 48px);
      min-width: 0;
      max-width: 327px;

      padding: 35px 25px;
    }
  }
}